
<div>
    {% for person in site.data.members %}
        <!-- <div class="text-center people-header"> -->
        {% if forloop.index == 1 %}
            <div>
                <hr />
                <h2>Pitt-CMU GSSPC Members</h2>
            </div>
        {% endif %}

        <div class="people">
            <div id="person">
                <!-- Member photo -->
                {% if person.img != "" %}
                    <img src="{{ person.img }}" />
                {% else %}
                    <img src="/assets/img/people/blanks/blank.png" />
                {% endif %}
            </div>
            <div id="title">
                <h3>{{ person.name }}, {{ person.title }}</h3>
            </div>
            <div class="justify" id="about">
                {{ person.about }}
            </div>
        </div>
    {% endfor %}
</div>
