<div class="speaker-container">
    {% for speaker in site.data.speakers %}
    <div class="speaker">
        {% if speaker.detail-page %}
            <a href="{{ site.url }}{{ speaker.detail-page }}"><img src="{{speaker.img}}"/></a>
        {% else %}
            <img src="{{speaker.img}}"/>
        {% endif %}
        <h2>{{speaker.name}}</h2>
        <h3>{{ speaker.title }}</h3>
        <h3>{{speaker.dept}}</h3>
        <h3>{{speaker.school}}</h3>
        {% if speaker.detail-page %}
            <a href="{{ site.url }}{{ speaker.detail-page }}"><h3>More Details</h3></a>
        {% else %}
            <a href="{{ speaker.website }}"><h3>More Details</h3></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
