---
layout: default
title: About Us
---

{% include wide-photo.html path=site.group %}

<h2>About GSSPC</h2>

<p>The Graduate Student Symposium Planning Committee (GSSPC) is a group of graduate students responsible
   for planning a symposium at the American Chemical Society National Meeting. Student groups are chosen
   from a university to produce quality symposia, co-sponsored by the ACS Division of Chemical Education
   (CHED), of interest to the chemical community. For more information on GSSPC, please visit the
   <a href="https://www.acs.org/content/acs/en/education/students/graduate/graduate-student-symposium-planning-committee-gsspc.html)">ACS website</a>.
</p>

{% include members.html %}
