---
layout: page
title: Sponsors
---

<h1>Thank you, sponsors, for making our symposium possible!</h1>
<h2 class='center'>Interested in sponsoring our event? <a href="{{ site.github.url }}/pages/contact">Contact us for more information</a>!</h2>

{% assign last_level = "" %}
{% assign first_header = true %}

{% for sponsor in site.data.sponsors %}
    {% if sponsor.level != last_level %}
        {% if first_header == false %}
            </div>
        {% endif %}
        {% assign last_level = sponsor.level %}

        <div class="sponsor-level">
            <img src="/assets/img/sponsors/sponsor_symbols/{{sponsor.level}}4_y.gif" />
            <p>{{sponsor.level}} Level</p>
            <img src="/assets/img/sponsors/sponsor_symbols/{{sponsor.level}}4_y.gif" />
        </div>

        <div class="sponsor-container">
    {% endif %}
    <div class="sponsor">
        <a href="{{sponsor.url}}"><img src="{{sponsor.img}}"/></a>
        <a href="{{sponsor.url}}"><h2>{{sponsor.name}}</h2></a>
    </div>
    {% assign first_header = false %}
{% endfor %}
