---
layout: default
title: Home
---

<h1>Welcome to the Pitt-CMU GSSPC Website!</h1>

<!-- Add group photo to top of home page -->
{% include wide-photo.html path=site.group text="Meet the Team!" link="pages/about-us.html" %}

<div class="mainpage-container">
  <div class="mainpage-text">
    <!-- main text goes here -->
    <div class="twitter">
      <!-- Add out twitter feed -->
      <a class="twitter-timeline" href="https://twitter.com/Pitt_CMU_GSSPC?ref_src=twsrc%5Etfw">Tweets by Pitt-CMU GSSPC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
